{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>Should I...</title>
    <script> window.CSRF_TOKEN = "{{ csrf_token }}";</script>
</head>
<body>
    <div id="react-home"></div>
    <div id="react-root">
        {% render_bundle 'main' %}
    </div>
</body>
</html>